body{
    color: yellow;
    background-image: url(https://d3lp4xedbqa8a5.cloudfront.net/s3/digital-cougar-assets/whichcar/2020/01/17/-1/Black-Mercedes-Benz-CLK-GTR-roadster.jpg);
    background-repeat: no-repeat;
    text-align: center;
    
};